/* CSS for main page */

/*
    KIT - SELF NOTES:
        Black:  #282d48
        Blue:   #5d698a
        Cyan:   #95d9eb
        Orange: #f3c6b8
        Red:    #e592a2
    END NOTES
/*

/* Get fucking bodied */
body{
  background-color: #95d9eb;
}


/* Stylizing Sign-in page */
.login {
    position: fixed;
    alignment:
}

/* Keeps buttons similar sizes with padding */
.btn-block {
    padding: 10px;
    left: 10px;
}

/* Stylizing buttons and giving them transitions */
.btn-custom{
    background: #FF716F;
    color: #FFFFFF;
    display: block;
    font-size: 70px;
    overflow: hidden;


    /*Rounded Corners*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    /*Gradient*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

    /*Transition*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    /*-ms-transition: All 0.5s ease;*/
    transition: All 0.5s ease;


}

/*Sign in with dropdown */
#login-sign-in-link{
    border-radius: 30%;
    color: black;
    font-size: 30px;
}

#login-dropdown-list{
    color:black;
    background-color:grey;
    font-size: 20px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
